{% include "/prefrab/header.html"%}
<body class="bg-light">
   <div class="container mainpage">
      <h3 class="blog-header">GSX600F | GN72A |BJ. 1988</h3>
      <img
         class="blog-image"
         src="{{ url_for('static', filename='/Assets/images/GSX600f-show.JPG')}}"
         alt="img ofGSX600F"
      />

      <div class="blog-paragraph">
         <p>
            Lange ist es her, dass ich mich dazu entschlossen habe ein
            Motoradführerschein zu machen, doch bei dem Schein an sich konnte es
            ja nicht einfach bleiben. Jeder der einen Schein macht, möchte
            natürlich auch fahren und ein geschätztes Vehicle sein eigen nennen
         </p>
         <p>
            Also schaute ich mich um und versuchte für schmales Geld ein
            Motorrad zu finden. Es dauerte nicht lange und ich wurde fündig. Ich
            kaufte mein eigenes Motorrad - zum leitwesen meiner damaligen
            Partnerin. Für sie schien es schon immer ein Dorn im Auge zu sein.
            Aber warum nur ... :) Die "ersten" Ausgaben hielten sich in Grenzen
            - denn ich kaufte für 300,00 EUR meine gute Suzi.
         </p>

         <div class="row small-margin-top">
            <div class="col-lg-6 col-md-12 col-sm-12">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
               filename='/Assets/images/GSX600f-standing.jpg')}}"
                  alt=""
               />
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
               <p class="blog-pragragraph-middle">
                  Immer an meiner Seite mein geschätzter Freund & Mechaniker,
                  denn auch wenn ich den dran zum fahren hatte. Hatte er die
                  Vision vor Augen es um zu setzten oder halt nicht. Also wurde
                  die gute Suzi befreit aus Ihrem alten Schuppen, wo sie gefühlt
                  seid Jahren ungeliebt herum stand, zwischen Farbeimern, einem
                  alten Roller und sonstigem Kram.
               </p>
            </div>
         </div>
         <div>
            <p>
               In Ihrem neuem Zuhause machten wir uns gleich da ran Ihr noch ein
               paar gute Zeiten zu bescheren und sie in dem Glanz strahlen
               lassen, der Ihr zu stand. Es war einfach noch keine Zeit für sie
               zu gehen. Was haben wir gemacht oder anders gesprochen, was haben
               wir nicht gemacht?
            </p>
         </div>
      </div>
   </div>
   {% include "/prefrab/footer.html"%}
</body>
