{% include "/prefrab/header.html"%}
<body class="bg-light">
   <div class="container mainpage">
      <h3 class="blog-header">GSX600F | GN72A |BJ. 1988</h3>
      <img
         class="blog-image-big"
         src="{{ url_for('static', filename='/Assets/images/GSX600f-show.JPG')}}"
         alt="img ofGSX600F"
      />

      <div class="blog-paragraph small-margin-top">
         <p>
            Lange ist es her, dass ich mich dazu entschlossen habe ein
            Motoradführerschein zu machen, doch bei dem Schein an sich konnte es
            ja nicht einfach bleiben. Jeder der einen Schein macht, möchte
            natürlich auch fahren und ein geschätztes Vehicle sein eigen nennen
         </p>
         <p>
            Also schaute ich mich um und versuchte für schmales Geld ein
            Motorrad zu finden. Es dauerte nicht lange und ich wurde fündig. Ich
            kaufte mein eigenes Motorrad - zum leitwesen meiner damaligen
            Partnerin. Für sie schien es schon immer ein Dorn im Auge zu sein.
            Aber warum nur ... :) Die "ersten" Ausgaben hielten sich in Grenzen
            - denn ich kaufte für 300,00 EUR meine gute Suzi.
         </p>

         <div class="row small-margin-top">
            <div class="col-lg-6 col-md-12 col-sm-12">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
               filename='/Assets/images/GSX600f-standing.jpg')}}"
                  alt="GSX600f image"
               />
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
               <p class="blog-pragragraph-middle">
                  Immer an meiner Seite mein geschätzter Freund & Mechaniker,
                  denn auch wenn ich den dran zum fahren hatte. Hatte er die
                  Vision vor Augen es um zu setzten oder halt nicht. Also wurde
                  die gute Suzi befreit aus Ihrem alten Schuppen, wo sie gefühlt
                  seid Jahren ungeliebt herum stand, zwischen Farbeimern, einem
                  alten Roller und sonstigem Kram.
               </p>
            </div>
         </div>
         <div class="small-margin-top">
            <p>
               In Ihrem neuem Zuhause machten wir uns gleich da ran Ihr noch ein
               paar gute Zeiten zu bescheren und sie in dem Glanz strahlen
               lassen, der Ihr zu stand. Es war einfach noch keine Zeit für sie
               zu gehen. Was haben wir gemacht oder anders gesprochen, was haben
               wir nicht gemacht?
            </p>
         </div>

         <div class="small-margin-top">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12">
                  <li>Verkleidung lackieren</li>
                  <li>Vergaser raus</li>
                  <li>Batterie & Kerzen erneuern</li>
                  <li>Kette und son. Verschleißteile wurden ersetzt</li>
                  <li>Reifen</li>
                  <li>Öl und Bremsf. neu</li>
                  <li>uvm</li>
               </div>

               <div class="col-lg-6 col-md-12 col-sm-12">
                  <img
                     class="blog-image-big"
                     src="{{ url_for('static',
                  filename='/Assets/images/GSX600f-bare.jpg')}}"
                     alt="GSX600f image"
                  />
               </div>
            </div>
         </div>

         <div class="small-margin-top">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12">
                  <img
                     class="blog-image-big"
                     src="{{ url_for('static',
                    filename='/Assets/images/GSX600f-bare-street.jpg')}}"
                     alt="GSX600f image"
                  />
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12">
                  <p>
                     Es war ein riesen Projekt und ohne meinen guten Freund &
                     "Mechaniker" hätte ich selbst an der ein oder anderen
                     Stelle aufgegeben. Er war vom Fach und wenn ich bereits
                     kein Ziel sah, war er noch guter Dinge. Also hieß es immer
                     weiter und wir schaffen das. Er nahm den Vergaser
                     auseinander und reinigte Ihn komplet. In einem alten
                     Ultraschallbad für "Schmuck" beseitigte er auch die letzten
                     Rückstände und machte aus dem verschmutzen Vergaser wieder
                     ein Prachtstück.
                  </p>
               </div>
            </div>
         </div>

         <div class="row small-margin-top">
            <div class="col-lg-6 col-md-12 col-sm-12">
               <p class="blog-text-center">Vorher</p>
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
             filename='/Assets/images/GSX600f-engine-old.jpg')}}"
                  alt="GSX600f image"
               />
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
               <p class="blog-text-center">Nacher</p>
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
              filename='/Assets/images/GSX600f-engine-new.jpg')}}"
                  alt="GSX600f image"
               />
            </div>
         </div>
         <div class="small-margin-top">
            <p>
               Während er sich um das innere kümmerte. Suchte ich nach einer
               Lösung für die vom Vorbesitzer gemachten Fehlversuche die
               Verkleidung mit der Farbrolle zu lackieren. Der Cousin meiner
               damaligen Lebensgefährtin half mir und lackierte für mich die
               missratenen Stücke. Ich sagte zu Ihm, ich habe keine Präferenzen
               bzgl. Farbe und er meinte er hat da eine Idee.....
            </p>
         </div>

         <div class="row">
            <div class="col-lg-6 col-md-3 col-sm12 small-margin-bottom">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
           filename='/Assets/images/GSX600f-tank-white.jpg')}}"
                  alt="Bike tank image"
               />
            </div>
            <div class="col-lg-6 col-md-3 col-sm12 small-margin-bottom">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
            filename='/Assets/images/GSX600f-tank-black.jpg')}}"
                  alt="Bike tank image"
               />
            </div>
            <div class="col-lg-6 col-md-3 col-sm12">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
            filename='/Assets/images/GSX600f-tank-room-white.jpg')}}"
                  alt="Bike tank image"
               />
            </div>
            <div class="col-lg-6 col-md-3 col-sm12">
               <img
                  class="blog-image-big"
                  src="{{ url_for('static',
            filename='/Assets/images/GSX600f-tank-room-black.jpg')}}"
                  alt="Bike tank image"
               />
            </div>
         </div>

         <div class="small-margin-top">
            <p>
               Alle Arbeit war "schnell" getan und ich machte mich auf die
               ersten Touren. Wenn auch erst nur kleinere um selbst einmal Fuß
               zu fassen. Es machte mir riesen Freude und ich kannte auch keine
               Saison. Ich fuhr einfach immer, bei Wind und Wetter. Auch die
               Undichtigkeit des Motors (bei 64 T KM) machte mir keine Angst -
               ich fand Ersatz in einem jüngeren (34T KM) Motor. Also nicht
               lange drüber nachdenken und tauschen. Teile für die Maschine gibt
               es nicht wirklich noch neu und man lernt schnell im Netz nach
               gebrauchten zu suchen.
            </p>

            <p>
               Die gute Suzi begleitete mich lange und jede Herausforderung
               wurde gelöst - doch 2021 war ich es doch an manchen Stellen leid
               und ich suchte nach was anderem. Meine Pläne wurden größer und
               mit der Suzi traute ich mich einfach nicht auf Reisen zu gehen.
               Auch wenn es am Ende nur Kleinigkeiten waren, wollte ich mich
               einfach komplett auf sie verlassen können und nicht nur im
               inneren Kreis meiner Umgebung bleiben.
            </p>

            <p>
               Ihre Reise war zu dem Zeitpunkt aber noch nicht beendet, denn ich
               gab Sie einem Freund zum Widereinstig für einen schmalen Kurs. Er
               fuhr sie min. 1 Jahr und dann war auch er bereit für eine andere
               Maschine.
            </p>

            <p>
               Von Ihm weiß ich nur, dass sie wieder im Keis Coefeld gelandet
               ist und ich halte immer meine Augen auf um sie vlt doch noch
               einmal zu sehen.
            </p>
         </div>

         <div class="small-margin-top small-margin-bottom">
            <img
               class="blog-image-big"
               src="{{ url_for('static',
      filename='/Assets/images/GSX600f-finished.jpg')}}"
               alt="GSX600f image"
            />
         </div>
      </div>
   </div>
   {% include "/prefrab/footer.html"%}
</body>
