/* nav styling */
body {
  
  font-family: 'IBM Plex Mono';
  line-height: 1.7;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar{
  background-color: #22577E !important;
}
.nav_links li a{
  color: rgb(190, 190, 190);
}
.nav_links li a:hover{
  color: rgb(190, 190, 190);
  text-decoration: none;
  border-bottom:solid 1px lightgray;
}
.nav_links li a:visited {
  color: rgb(190, 190, 190);
}
.favicon_image {
  border-radius: 50%;
}

.nav-item {
  margin-left: 5.5rem;
}

.logo_image {
  width: 5rem;
  border-radius: 25rem;
}
.navbar {
  padding: 0% !important;
  font-weight: 800 !important;
}

/* body styling*/
.mainpage{
  margin-top: 4rem;
}
.intro_img{
  max-width: 100%;
  height: auto;
  border-radius: 30px
}
.intro_message{
  display: block;
  text-align: center;
}

/* home styling*/
.Gedanken{
  text-align: center;
  margin-top: 2rem ;
  border: 1px solid black;
  border-radius: 15px;
}




/* footer styling*/
footer {
  text-align: center;
  background-color: #22577E;
  bottom: 0;
  display: block;
}
.blog-footer{
  color: rgb(190, 190, 190)
}
.main_footer{
  margin-bottom: 0;
}

.footer-socials{
  text-decoration: none;
}

.footer-img{
  padding: 1rem 1rem;
}

.footer-img{
  width: 3.5rem;
}

/* Blog styling */

.blog-image{
  width: 50%;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog-image-big{
  width: 100%;
  max-height: fit-content;
}

.blog-header{
  margin-bottom:2rem;
}

.blog-text-center{
  text-align: center;
}



/* Prefabs */
.small-margin-top{
  margin-top: 2rem;
}

.small-margin-bottom{
  margin-bottom: 2rem;
}
