/* nav styling */
body {
  
  font-family: 'IBM Plex Mono';
  line-height: 1.7;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Nav bar styling */
.navbar{
  background-color: #22577E !important;
}
.nav_links li a{
  color: rgb(190, 190, 190);
}
.nav_links li a:hover{
  color: rgb(190, 190, 190);
  text-decoration: none;
  border-bottom:solid 1px lightgray;
}
.nav_links li a:visited {
  color: rgb(190, 190, 190);
}
.favicon_image {
  border-radius: 50%;
}

.nav-item {
  margin-left: 5.5rem;
}

.logo_image {
  width: 5rem;
  border-radius: 25rem;
}
.navbar {
  padding: 0% !important;
  font-weight: 800 !important;
}

/* body styling*/
.mainpage{
  margin-top: 4rem;
}
.intro_img{
  max-width: 100%;
  height: auto;
  border-radius: 30px
}
.intro_message{
  display: block;
  text-align: center;
}

/* home styling*/
/* Create two unequal columns that floats next to each other */
/* Left column */
.home-div{
  --bs-gutter-x:0 !important;
  margin: 1rem 0;
  text-align: center;
}

.leftcolumn { 
  float: left;
  width: 75%;
  padding-left: 40px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
}

.home-intro{
  margin: 2rem 0 4rem 0;
}

.home-message{
  text-align: left;
}

.home-heading{
  margin-bottom: 1.5rem;
}

.home-subcribe{
  margin-top: 2rem;
}

.subcribe-form{
  justify-content: center;
}

.home-carosuel{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blogs-list{
  margin-top: 2rem;
}

.blog-item{
  border: 1px solid lightblue;
}

.home-invite{
  margin-top: 3rem;
}

.invite-img{
  border-radius: 15px;
}

.invite-img{
  width: 50%;
}

.invite-message{
  text-align: left;
}

.gb-button{
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: #22577E;
  text-decoration: none;
  color: #ffffff;
}

.gb-button:hover{
  background-color: #aaa;
}


/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* footer styling*/
footer {
  text-align: center;
  background-color: #22577E;
  bottom: 0;
  display: block;
}
.blog-footer{
  color: rgb(190, 190, 190)
}
.main_footer{
  margin-bottom: 0;
}

.footer-socials{
  text-decoration: none;
}

.footer-img{
  padding: 1rem 1rem;
}

.footer-img{
  width: 3.5rem;
}

.footer-link{
  text-decoration: none;
  color:#ffffff;
}

.footer-link:hover{
  text-decoration: underline;
  color: #ffffff;
}

/* Blog styling */

.blog-image{
  width: 50%;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog-image-big{
  width: 100%;
  max-height: fit-content;
}

.blog-header{
  margin-bottom:2rem;
}

.blog-text-center{
  text-align: center;
}



/* Prefabs */
.small-margin-top{
  margin-top: 2rem;
}

.small-margin-bottom{
  margin-bottom: 2rem;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding:20px;
  }
}