{% include "/prefrab/header.html"%}
  <body class="bg-light ">
    <div class="container mainpage">
      <div class="row">
        <div class="intro_message">
          </br>
          <h1>HOME</h1>
          <p>Please check back later. I'm still putting things together.</p>
        </div>
      </div>
      <div class="Gedanken">
        <p>Nächste Pläne / Gedanken
        </p>
      </div>

      <div class="Gedanken">
        <p>aktuelle Herausforderungen
        </p>
      </div>
    </div>
    
    {% include "/prefrab/footer.html"%}